{% extends "base.html" %}
{% block title %}{{ household.name }}{% endblock %}
{% block content %}
<div class="panel stack">
    <h1>{{ household.name }}</h1>
    <p>Invite link: <a href="{% url 'household-join' household.invite_token %}">{% url 'household-join' household.invite_token %}</a></p>
    <div class="row">
        <a href="{% url 'chore-list' household.id %}">View chores</a>
        <a href="{% url 'chore-calendar' household.id %}">Calendar</a>
    </div>
    <h2>Members</h2>
    <ul>
        {% for member in household.members.all %}
            <li>{{ member.user.username }}</li>
        {% endfor %}
    </ul>
    <h2>Categories</h2>
    <ul>
        {% for category in household.categories.all %}
            <li>{{ category.name }}</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'category-create' household.id %}">Create a category</a></p>
</div>
{% endblock %}
